<!doctype html>
<html lang="en">
<head>

    <!-- Webpage Title -->
    <title>항해그램</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- 부트스트랩 CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='{{ url_for("static", filename="basic_style.css") }}' rel="stylesheet">

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle&display=swap" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

    <script>

        $(document).ready(function() {
            bsCustomFileInput.init()
        })

        function openClose() {
                if ($("#post-box").css("display") == "block") {
                    $("#post-box").hide();
                    $("#openclose-button").text("게시물 작성");
                } else {
                    $("#post-box").show();
                    $("#openclose-button").text("작성칸 닫기");
                }
            }


        function posting() {
            let name = $('#post-name').val()
            let comment = $("#post-comment").val()

            let file = $('#file')[0].files[0]
            let form_data = new FormData()

            form_data.append("file_give", file)
            form_data.append("name_give", name)
            form_data.append("comment_give", comment)

            $.ajax({
                type: "POST",
                url: "/pet/posts",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload()
                }
            });
        }
    </script>
    <style>
        .card-deck {
            margin: 30px auto auto auto;
            width: 25%;
        }
        .form-post {
            margin-top: 40px;
        }
        .form-post > .custom-file {
            margin-bottom: 15px;
        }
        .banner_title, .hero {
            display:flex;
            ;
        }
    </style>
</head>
<body>
            <!-- 타이틀 부분 -->
    <section class="hero banner_title">
        <button onclick="location.href='/'" style="width: 150px; height: 60px; font-size: 25px; margin: 146px 887px;
    position: absolute; background-color: #F7D358; border-radius: 10px; border:none">카테고리로 돌아가기 ☜ </button>
        <div class="hero-body has-text-centered" style="padding-bottom:1rem;margin:auto;">
            <div>
                <h1 class="title" onclick="reload()">Hanghaegram (애완동물)</h1>
                <h3 class="subtitle">▼ ▼ ▼</h3>
            </div>
            <div>
                 <button id='openclose-button' onclick="openClose()" type="button" class="btn btn-outline-primary" style="width: 80px; height: 38px; font-size: 20px";>게시물 작성</button>
            </div>
            <div id="post-box" class="form-post" style="display:none">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="file">
                        <label class="custom-file-label" for="file">사진 선택하기</label>
                    </div>
                    <div class="form-group">
                        <input id="post-name" class="form-control" placeholder="이름입력">
                    </div>
                    <div class="form-group">
                        <textarea id="post-comment" class="form-control" rows="2" placeholder="코멘트 작성"></textarea>
                    </div>
                    <button type="button" onclick="posting()" style="border: none; border-radius: 5px; background-color: #2E64FE; color: white; width: 75px; height: 38px; font-size: 20px">업로드 하기</button>
            </div>
        </div>
    </section>
            {% for article in articles %}
            <div class="card-wrap">
                <div class="card-deck" style="float: left;">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="/static/image/{{article.file}}" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content" style="padding: 1rem">
                            <div class="content">
                                <p class="uploader" style="font-size: 23px"><span style="font-weight: bold">작성자: {{article.name}}</span>
                                    <br>{{ article.comment }}</br></p>
                                <time style="color:blue; font-size: 19px">업로드 시간 : {{ article.upload_time }}</time>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
</body>
</html>