* {
            font-family: 'Dongle', sans-serif;
        }

        body {
            background: linear-gradient(lightCyan 70%, skyBlue, deepSkyBlue) ;
            min-height: 200vh;
        }

        .banner_title {
            background-color: #FAFAFA !important;
            display: flex;

        }

        .title {
            font-weight: bold;
            font-size: 5rem;
            color: #2E64FE !important;
        }

        .subtitle {
            font-size: 2rem;
            color: #2E64FE !important;
        }
